<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Mój blog</title>
    </head>
    <body>
        <div class="container">
            <div class="content">

               <h2> <a href="{% url 'news' %}">Dodaj Wpis</a><br/>
            </h2>

                <hr><hr>


            {% for wpis in newsy %}
                <p><b>Tytuł: </b>{{ wpis.title }}</p>
                <p>{{wpis.content}}</p>
                <p><b>Wpisy utworzony przez:</b>  {{ wpis.user }}</p>

                <hr/>
            {% endfor %}
            {% block content %}{% endblock %}
            </div>

        </div>
    </body>
</html>